// variable definitions

// colors
$purple: hsl(270, 100%, 20%);
$yellow: hsl(55, 93%, 57.2%);
$white:  hsl(0, 100%, 100%);

// basic values
$text-rhythm: 1.2rem;
$cell-padding: 0.25rem;
//$max-main-row-width: 1000px;

// font sizes
$fs-body: 1rem;
$ls-body: $text-rhythm;
$fs-hx: 1rem;
$ls-hx: $text-rhythm;
$fs-h1: 2rem;
$ls-h1: 2 * $text-rhythm;
$fs-h2: 1.5rem;
$ls-h2: 2 * $text-rhythm;
$fs-h3: $text-rhythm;
$ls-h3: $text-rhythm;
$fs-hrest: 1rem;
$fs-nav: 1rem;
$ls-nav: $text-rhythm;
$fs-tiny: 0.5rem;
$ls-tiny: $text-rhythm;
$fs-smaller: 0.8rem;
$ls-smaller: $text-rhythm;

// poster sizes
$poster-size: 250px;

// some media queries
$mq-narrow: "only screen and (max-width : 600px)";
$mq-normal: "only screen and (min-width : 601px)";

/**
 * a sensible way to make boxes work
 */
* {
	box-sizing: border-box;
}

/**
 * Zero out the margin and padding on a bunch of elements.
 */
body,
header, footer, article, div, table, figure,
nav ul, li,
h1, h2, h3, h4, h5, h6, p
{
	margin: 0;
	padding: 0;
}

/**
 * Dead Simple Grid (c) 2012 Vladimir Agafonkin
 * https://github.com/mourner/dead-simple-grid
 * (modified for my purposes)
 */
.col {
	padding: 0;
}
.row:before, .row:after {
	content: "";
	display: table;
}
.row:after {
	clear: both;
}

@media only screen {
	.col {
		float: left;
		width: 100%;

		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}
}



/**
 * Helper classes for making things clear floats properly
 */
.clear {
	clear: both;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}


/**
 * styles for various elements
 */
body {
	background-color: $purple;
	color: $white;

	font-family: "Muli", "Helvetica Neue", sans-serif;
	font-size: $fs-body;
	line-height: $ls-body;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: $text-rhythm;

	font-size: $fs-hx;
	line-height: $ls-hx;

	color: $yellow;
	font-weight: bold;
}
h1 {
	font-size: $fs-h1;
	line-height: $ls-h1;
}
h2 {
	font-size: $fs-h2;
	line-height: $ls-h2;
}
h3 {
	font-size: $fs-h3;
	line-height: $ls-h3;
}
h4, h5, h6 {
	font-size: $fs-hrest;
}

p {
	margin-bottom: $text-rhythm;

	&.note {
		color: $yellow;
	}
	&.important {
		color: $yellow;
		font-weight: bold;
	}
	&.internal {
		margin-bottom: 0;
	}
}
address {
	margin-bottom: $text-rhythm;
}

table {
	margin-bottom: $text-rhythm;

	th, td {
		padding: (4 * $cell-padding) (2 * $cell-padding);
		text-align: left;
		vertical-align: top;
	}

	thead th {
		vertical-align: bottom;
	}
}
ul {
	margin-bottom: $text-rhythm;
}

a {
	color: $yellow;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	&.money {
		text-decoration: underline;
		font-weight: bold;
		font-size: $text-rhythm;
	}
}

u {
	text-decoration: none;
	color: $yellow;
}


/**
 * set column widths and control navigation bars based on screen size.
 * for the "narrow" case, all of the columns default to 100%, so we just
 * need to modify which nav gets shows. for the "normal" case, we hide
 * the mobile nav, and change the size of several of the columns
 */

@media #{$mq-narrow} {
	.col.desktop-nav {
		display: none;
	}
	.col.mobile-nav {
		display: block;
	}
}
@media #{$mq-normal} {
	.col.desktop-nav {
		display: block;
		width: 25%;
		padding-right: $text-rhythm; /* add a small gutter */
	}
	.col.main {
		width: 75%;
	}
	.col.mobile-nav {
		display: none;
	}

}

// header stuff
@media #{$mq-normal} {
	.col.logo {
		width: 25%;
		padding-right: $text-rhythm; /* add a small gutter */
	}
	.col.headline {
		width: 75%;
	}

}

header#tlp-header {
	margin-bottom: $text-rhythm;
	background-color: black;

	&.tlp-header-background-1 {
		background: url(images/header_background/a_new_brain_1.jpg) 100% -30px no-repeat border-box;
	}
	&.tlp-header-background-2 {
		background: url(images/header_background/charlie_brown_1.jpg) 50% -0px no-repeat border-box;
	}
	&.tlp-header-background-3 {
		background: url(images/header_background/charlie_brown_2.jpg) 100% -50px no-repeat border-box;
	}
	&.tlp-header-background-4 {
		background: url(images/header_background/chess_1.jpg) 50% -60px no-repeat border-box;
	}
	&.tlp-header-background-5 {
		background: url(images/header_background/chess_2.jpg) 50% -30px no-repeat border-box;
	}
	&.tlp-header-background-6 {
		background: url(images/header_background/chess_3.jpg) 60% -90px no-repeat border-box;
	}
	&.tlp-header-background-7 {
		background: url(images/header_background/earnest_1.jpg) 15% -100px no-repeat border-box;
	}
	&.tlp-header-background-8 {
		background: url(images/header_background/earnest_2.jpg) 50% -100px no-repeat border-box;
	}
	&.tlp-header-background-9 {
		background: url(images/header_background/hedda_gabler_1.jpg) 100% -50px no-repeat border-box;
	}
	&.tlp-header-background-10 {
		background: url(images/header_background/hedda_gabler_2.jpg) 10% -50px no-repeat border-box;
	}
	&.tlp-header-background-11 {
		background: url(images/header_background/hedda_gabler_3.jpg) 10% -70px no-repeat border-box;
	}
	&.tlp-header-background-12 {
		background: url(images/header_background/lend_me_a_tenor_1.jpg) 20% -60px no-repeat border-box;
	}
	&.tlp-header-background-13 {
		background: url(images/header_background/secret_garden_1.jpg) 50% -75px no-repeat border-box;
	}
	&.tlp-header-background-14 {
		background: url(images/header_background/secret_garden_2.jpg) 50% -75px no-repeat border-box;
	}
	&.tlp-header-background-15 {
		background: url(images/header_background/secret_garden_3.jpg) 50% -75px no-repeat border-box;
	}
	&.tlp-header-background-16 {
		background: url(images/header_background/secret_garden_4.jpg) 50% -75px no-repeat border-box;
	}
	&.tlp-header-background-17 {
		background: url(images/header_background/she_loves_me_1.jpg) 50% -75px no-repeat border-box;
	}
	&.tlp-header-background-18 {
		background: url(images/header_background/she_loves_me_2.jpg) 50% -75px no-repeat border-box;
	}
	&.tlp-header-background-19 {
		background: url(images/header_background/she_loves_me_3.jpg) 50% -25px no-repeat border-box;
	}
	&.tlp-header-background-20 {
		background: url(images/header_background/she_loves_me_4.jpg) 50% -100px no-repeat border-box;
	}
	&.tlp-header-background-21 {
		background: url(images/header_background/she_loves_me_5.jpg) 20% -60px no-repeat border-box;
	}

	.purplehaze {
		margin: 0;
		padding: 2*$text-rhythm $text-rhythm;
		background-color: rgba($purple, 0.7);
		background: linear-gradient( rgba($purple, 0.5) 50%, rgba($purple, 0.7) 80%, rgba($purple, 1.0) );

		vertical-align: middle;
	}

	a:hover {
		text-decoration: none;
	}

	.logo {
		text-align: right;

		@media #{$mq-narrow} {
			text-align: center;
			padding-bottom: (0.5 * $text-rhythm);
		}
	}
	.headline {
		h1, h2 {
			margin: 0;
			padding: 0;
		}

		@media #{$mq-narrow} {
			text-align: center;
		}

		/* these font sizes are *not* related to the text-rhythm */
		h1 {
			font-size: 2rem;
			line-height: 2rem;
			letter-spacing: 0.2rem;
			color: $yellow;

			font-weight: bold;
		}
		h2 {
			margin-top: 0.5rem;

			font-size: 0.9rem;
			line-height: 1rem;
			letter-spacing: 0.2rem;
			color: $white;

			font-weight: normal;
			font-style:italic;
		}
	}
}

footer#tlp-footer {

	margin-top: $text-rhythm;
	div {
		margin-top: $text-rhythm;
	}

	div#footer-contact {
		padding: $cell-padding;
		padding-left: ($text-rhythm / 3); // same as $nav-inset below
		font-size: $fs-smaller;
		line-height: 1.5 * $text-rhythm;
		p {
			margin: 0;
		}
		img {
			vertical-align: middle;
			max-height: 1.5 * $text-rhythm;
		}
	}

	div#site-credits {
		padding: $cell-padding;
		padding-left: ($text-rhythm / 3); // same as $nav-inset below
		font-size: $fs-tiny;
		line-height: ($text-rhythm / 2);
		p {
			margin: 0;
		}
	}
}

//div#main-row {
//	max-width: $max-main-row-width;
//}

$nav-padding: $cell-padding;
$nav-inset: ($text-rhythm / 3);
$nav-radius: $text-rhythm;
$nav-li-height: $text-rhythm + (2 * $nav-padding);

nav {
	ul {
		margin-bottom: $text-rhythm;
		list-style-type: none;

		font-size: $fs-nav;
		line-height: $ls-nav;

		li {
			border-bottom: thin solid $yellow;
			height: $nav-li-height;
			overflow: hidden;

			&.title {
				padding: $nav-padding;
				padding-left: $nav-inset;

				border: none;
				border-top-right-radius: $nav-radius;

				color: $purple;
				background-color: $yellow;
			}

			a {
				padding: $nav-padding;
				padding-left: $nav-inset;
				height: $nav-li-height;

				display: block;

				color: $white;

				&:hover {
					color: $purple;
					background-color: $yellow;
					text-decoration: none;
				}
			}

		}

		&#home {
			margin-top: $text-rhythm;

			li:first {
				/* the first menu needs to go up just a tad to account for
				   the cell padding, but still make the bottom border line up
				   with the border of div.content */
				margin-top: -(2*$cell-padding);
				height: inherit;
			}


			@media #{$mq-narrow} {
				li {
					border-top: thin solid $yellow;
				}
			}
		}
	}

	/* for the mobile navigation, don't do the weird rounded corner */
	&.mobile-nav li.title {
		border-top-right-radius: 0;
	}
}

/* trick to make the current item in the navigation highlighted.
 * this doesn't work when too many more pages are added, but is ok for now. */
body#index nav a[href="index"],
body#news nav a[href="news"],
body#upcoming nav a[href="upcoming"],
body#tickets nav a[href="tickets"],
body#directions nav a[href="directions"],
body#donate nav a[href="donate"],
body#auditions nav a[href="auditions"],
body#volunteer nav a[href="volunteer"],
body#past-productions nav a[href="past-productions"],
body#awards nav a[href="awards"],
body#about nav a[href="about"],
body#mission nav a[href="mission"],
body#contact nav a[href="contact"]
{
	color: $purple;
	background-color: $yellow;
}


$content-inset: $text-rhythm;
$content-radius: (2 * $text-rhythm);

// 3 * spaces between menus + 15 * height of menu items
$content-minheight: (3 * $text-rhythm) + (15 * ($text-rhythm + 2 * $nav-padding)) + $content-inset;

article {
	header h1 {
		margin: 0;
		padding-left: $content-inset;

		@media #{$mq-narrow} {
			padding-left: $nav-inset;
		}

		font-size: (2 * $text-rhythm);
		line-height: (2 * $text-rhythm);

		font-weight: 300;
		color: $white;
	}
	div.content {
		padding-left: $content-inset;
		padding-right: $content-inset;
		padding-top: $content-inset;
		margin-bottom: $content-inset;

		min-height: $content-minheight;

		border-left: thin solid $yellow;
		border-top: thin solid $yellow;
		border-top-left-radius: $content-radius;

		@media #{$mq-narrow} {
			padding-left: $nav-inset;
			padding-right: $nav-inset;
			border-left: none;
			border-top-left-radius: 0;
		}
	}

	footer {
		text-align: right;
		font-size: $fs-tiny;
		line-height: $ls-tiny;
	}

}

table.show-person-list {
	width: 100%;

	tr, th, td {
		margin: 0;
		padding: 0;
	}

	th {
		padding: $cell-padding 0;
		padding-top: $text-rhythm;

		vertical-align: bottom;
		color: $yellow;
	}

	td {
		border-bottom: thin solid rgba($yellow, 0.5);
		padding: $cell-padding 0;

		vertical-align: top;

		&.left {
			width: 40%;
		}
		&.right {
			width: 50%;
			text-align: right;
		}
	}
}

div.content.front {
	.col {
		width: 50%;
		padding: ($text-rhythm / 2) ($text-rhythm / 2);
	}
	.row.first-row {
		.col.next-show {
			img {
				width: 100%;
				//max-width: $poster-size;
			}
		}
		.col.news {
		}
	}
	.row.second-row {
		margin-bottom: $text-rhythm;

		.col.season {
			border: thin solid $yellow;

			h3 {
				margin-top: $text-rhythm;
				margin-bottom: 0;
			}
			p {
				margin: 0;
			}
		}
		.col.donate {
		}
	}
}

div.news-listing {
	div.news-item {
		margin-bottom: $text-rhythm;
		padding-right: $text-rhythm;

		&.pinned {
			border-right: thin solid $yellow;
		}

		h3 {
			margin-bottom: 0;
		}
		p.pubdate {
			color: $yellow;
			font-size: $fs-smaller;
			margin-bottom: 0;
		}
	}
}

div.content.show {
	figure.show-poster {
		margin-bottom: $text-rhythm;

		.col.show-poster-poster {
			width: 33%;
			max-width: $poster-size;
			padding-right: $text-rhythm;
			img {
				width: 100%;
				max-width: $poster-size;
			}
		}
		.col.show-poster-caption {
			width: 66%;

			div.show-playcredits, div.show-tlpcredits, div.show-date-and-space {
				margin-bottom: $text-rhythm;
			}
		}
	}

	div.show-teaser {
		margin-bottom: $text-rhythm;
	}

	div.show-gallery {
		margin-bottom: $text-rhythm;

		img {
			padding-right: (2 * $cell-padding);
			vertical-align: top;
		}

		p.show-gallery-link {
			font-size: $fs-smaller;
		}
	}

}


div.content.show-list {
	figure.show-list-item {
		margin-bottom: 2 * $text-rhythm;

		.col.show-list-poster {
			width: 33%;
			max-width: $poster-size;
			padding-right: $text-rhythm;;
			img {
				width: 100%;
				max-width: $poster-size;
			}
		}
		.col.show-list-caption {
			width: 66%;

			div.show-list-playcredit, div.show-list-tlpcredit, div.show-list-month {
				margin-bottom: $text-rhythm;
			}
			div.show-list-content {
				margin-top: $text-rhythm;
				margin-bottom: $text-rhythm;
			}
		}
	}
}
